h1 {
  color:;
  text-align: center;
}

h2 {
  text-align: center;
  color: #6dd8db;
}

p {
  text-align:center;
  font-size:
  color: ;
}

img {
  display: block;
  margin: auto;
}
body {
  background-color: #a4fff4;
}
